<html lang="fr">
<head>
    <title>Mon title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
    <div class="d-flex flex-column align-items-center justify-content-center w-100" style="height:100vh;">
        <h1>File</h1>
        <%if (user) {%>
            <img style="width: 20%" src=<%= user.avatar %>>
        <%}%>
        <form class="d-flex flex-column card w-50" method="post" action="/upload-file/file" enctype="multipart/form-data">
            <div class="card-body">
                <div class="form-group">
                    <input type="file" name="avatar">
                </div>
                <input type="submit" value="submit" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>
</body>
</html>